<!DOCTYPE html>
<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
<![endif]-->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/interface.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-ui.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/jquery-ui.css")" type="text/css"/>
    <script src="@Url.Content("~/Scripts/widget.js")" type="text/javascript"></script>
    <style>
        #image_button:hover {
            -webkit-box-shadow: 1px 1px 10px gray;
            box-shadow: 1px 1px 10px gray;
        }
        #logo {
            background:url('/Content/images/lll.png') center center;
            background-repeat:no-repeat;
            
            /*background-position: 0px 20px;
            background-size:108px 227px;*/
        }
        .dock-container a {
        color:white;
        }
        /*#logo:hover {
            background-position: 0px -128px;
        }*/
    </style>
</head>

<body>
    <div id="wrapper">
        <div id="top-row">
            <div id="top-row-items" style="width:1024px;margin:auto;">
            <a href="javascript:void(0);"><div id="logo" onclick="redirectAsp()" class="mouse_hover" style="float: left; position: relative; width: 115px; height: 100px; border-right: 1px solid black; text-align: center;">
            </div></a>
              <a href="javascript:void(0);"><div onclick="redirectAsp()" class="mouse_hover" style="float: left; position: relative; width: 259px; height: 100px; border-right: 1px solid black; text-align: center;">
                <div style="margin:auto;width: 170px;"><img src="/Content/images/VisualStudio_logo.png" /></div>
            </div></a>
             <a href="javascript:void(0);"><div onclick="redirectElectronic()" class="mouse_hover" style="float: left; position: relative; width: 260px; height: 100px; border-right: 1px solid black;">
              <div style="margin:auto;width: 120px;"> <img src="/Content/images/electronic_logo.png" /></div>
            </div></a>
             <a href="javascript:void(0);"><div onclick="redirectPhp()" class="mouse_hover" style="float: left; position: relative; width: 259px; height: 100px;text-align: center; line-height: 100px; ">
                 <div style="margin:auto;width: 236px;"> <img src="/Content/images/php_logo.png" style="vertical-align: middle;" /></div>
            </div></a>
            <a href="javascript:void(0);"> <div id="android" onclick="redirectAsp()" class="mouse_hover" style="float: left; position: relative; width: 115px; height: 100px; border-left: 1px solid black;">
                 <div style="margin:auto;text-align:center;line-height:100px;"><img style="vertical-align:middle;" src="/Content/images/android.png" /></div>
            </div></a>
         </div>
        </div>
        <div id="content">
            <div style="width:1024px;margin:auto;">
            @RenderBody()
        </div>
        </div>
        <div id="bottom-row">
             <div style="width:1024px;margin:auto;">
            <div id="open_twitter_form">
                <div class="twitter">
                    <script type="text/javascript">
                        new TWTR.Widget({
                            version: 2,
                            type: 'profile',
                            rpp: 2,
                            interval: 30000,
                            width: 'auto',
                            height: 290,
                            theme: { shell: { background: 'rgb(42, 63, 77)', color: '#ffffff' }, tweets: { background: 'transparent', color: '#ffffff', links: 'rgb(26, 146, 184)' } },
                            features: { scrollbar: false, loop: false, live: true, behavior: 'all' }
                        }).render().setUser('ilogicmk').start();
                    </script>
                </div>
            </div>
            <a href="javascript:void(0);"><div id="twitter_form"></div></a>
            <div class="dock" id="dock">
                <div class="dock-container">
                    <a class="dock-item" href="/Site/Asp">
                        <img src="~/Content/images/home.png" alt="home" /><span>Home</span></a>
                    <a class="dock-item" href="/Site/Products">
                        <img src="~/Content/images/products.png" alt="portfolio" /><span>Products</span></a>
                    
                    @*<a class="dock-item" href="Novosti.aspx"><img src="~/Content/images/novosti.png" alt="music" /><span>Новости</span></a> *@

                    <a class="dock-item" href="/Site/Projects">
                        <img src="~/Content/images/projects.png" alt="music" /><span>Projects</span></a>
                    <a class="dock-item" href="/Site/AboutUs">
                        <img src="~/Content/images/about_us.png" alt="about_us" /><span>About us</span></a>
                </div>
            </div>
            <div id="open_mail_form">
                <div style="background:rgb(42, 63, 77);width: 380px; margin: auto; height: 377px; margin-top: 11px; box-shadow: 1px 1px 60px gray; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;">
                    <p id="succesed_msg" style =" display: none; position: absolute; text-align:center;margin-top: 150px; margin-left: 86px; color:white; font-family:sans-serif ">
                        Your message has been sent
                    </p>
                <div class="contact_form";>
                    <ul>
                        <li>
                            <h3>Contact Us</h3>
                        </li>
                        <li>
                            <label for="name">Name or Company:</label>
                            <input id="ime" type="text" class="contact_input" placeholder="John Doe" required />
                        </li>
                   
                        <li>
                            <label for="email">Email:</label>
                            <input id="email" type="email" class="contact_input" name="email" placeholder="john_doe@example.com" required />
                            <span class="form_hint">Proper format "name@something.com"</span>
                        </li>
                        <li>
                            <label for="number">Number:</label>
                            <input id="broj" type="number" class="contact_input" name="website" placeholder="number" />

                        </li>
                        <li>
                            <label for="message">Message:</label>
                            <textarea id="poraka" class="contact_input" name="message" cols="40" rows="6" required></textarea>
                        </li>
                        <li>
                            <button class="submit" type="button">Send</button>
                        </li>
                    </ul>

                </div>
                    </div>
            </div>
            <a href="javascript:void(0);"><div id="mail_form"></div></a>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $(window).resize(function () {
            var height = parseInt($(window).height() - 210);
            $("#wrapper").css("height", height);
            $("html").css("height", height);
        });

        $(document).ready(function () {
            var height = parseInt($(window).height() - 210);
            $("#wrapper").css("height", height);
            $("html").css("height", height);
        });

        $(document).ready(
		function meni() {
		    $('#dock').Fisheye(
				{
				    maxWidth: 15,
				    items: 'a',
				    itemsText: 'span',
				    container: '.dock-container',
				    itemWidth: 60,
				    proximity: 30,
				    halign: 'center'
				}
			)
		}
	);
        var twiterCheck;
        var mailCheck;
        var hiddenContent = $('#open_twitter_form');
        $("#twitter_form").click(function (event) {
            // Cancel the default event (this isn't a real link).
            event.preventDefault();
            // Check to see if the content is visible.
            if (hiddenContent.is(":visible")) {
                // Hide it slowly.
                if (hiddenContent.css("height") == "400px") {
                    hiddenContent.slideUp(2000);
                    twiterCheck= false;
                }
            } else {
                // Show it slowly.
                if (hiddenContent.css("height") == "400px") {
                    hiddenContent.slideDown(2000);
                    twiterCheck= true;
                }
            }
        });
        var hiddenContent1 = $('#open_mail_form');
        $("#mail_form").click(function (event) {
            // Cancel the default event (this isn't a real link).
            event.preventDefault();
            // Check to see if the content is visible.
            if (hiddenContent1.is(":visible")) {
               // Hide it slowly.
                if (hiddenContent1.css("height") == "400px") {
                    hiddenContent1.slideUp(2000);
                    mailCheck= false;
                }
            } else {
                // Show it slowly.
                if (hiddenContent1.css("height") == "400px") {
                    hiddenContent1.slideDown(2000);
                    $("#succesed_msg").css("display", "none");
                    $(".contact_form").fadeIn();
                    mailCheck= true;
                }
            }
        });
        $("#content").click(function (event) {
            if (mailCheck) {
                // Hide it slowly.
                if (hiddenContent1.css("height") == "400px") {
                    hiddenContent1.slideUp(2000);
                    mailCheck= false;
                }
            }
            if (twiterCheck) {
                // Hide it slowly.
                if (hiddenContent.css("height") == "400px") {
                    hiddenContent.slideUp(2000);
                    twiterCheck= false;
                }
            }
        });
        function redirectAsp() {
            window.location.href = "/Site/Asp";
        }
        function redirectElectronic() {
            window.location.href = "/Site/Electronics";
        }
        function redirectPhp() {
            window.location.href = "/Site/Php";
        }
        //if ($('#open_twitter_form').css('display') == 'none' || $('#open_twitter_form').css("height") == "0px") {
        //    $('#open_twitter_form').slideDown(2000, function () {
        //        $('#open_twitter_form').css("height", "500px");
        //    });

        //}
        //else {

        //    $('#open_twitter_form').remove();
        //    $("#footer").append("<div id='open_twitter_form'></div>");
        //    $('#open_twitter_form').slideUp(2000, function () {
        //        //$('#open_twitter_form').css("height", "0px");
        //       // $('#open_twitter_form').css('display', "none");
        //    });
        //}
        function isNumber(n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
        }
        $("input[id='broj']").keyup(function () {
            if ($("input[id='broj']") != "" && isNumber($("input[id='broj']").val())) {
                document.getElementById("broj").required = true;
            }
            else
                document.getElementById("broj").required = false;
        });
        $('.submit').click(function () {
            var name = $('#ime').val();
            var email = $('#email').val();
            var number = $('#broj').val();
            var message = $('#poraka').val();
            var required_inputs = new Array();
            for (var i = 0; i < $(".contact_input").length; i++) {
                if ($($(".contact_input")[i]).attr('required')) {
                    required_inputs.push($($(".contact_input")[i]));
                }
            }
            var pom = false;

            for (var j = 0; j < required_inputs.length; j++) {
                if (required_inputs[j].val() == "")
                    pom = true;
            }
            if (pom == false) {
                $.ajax({
                    url: "Sendform",
                    type: "GET",
                    data: {

                        ime: name,
                        broj: number,
                        email: email,
                        poraka: message,
                    },
                    success: function (result) {
                        //alert(result.msg);
                        $(".contact_form").fadeOut(700);

                        setTimeout(function () { $("#succesed_msg").css("display", "block"); }, 700);
                        setTimeout(function () { hiddenContent1.slideUp(2000); }, 1000);
                    }
                });
            } else {
                alert("Enter the required values");
            }
        });
    </script>
</body>
</html>
